<!--create template that handlebars can render into
create a button to submit user input burger -->

<ul class="notEatenList">
    {{#each burger}}
    {{#unless devoured}}
    <li class="notEaten" data-id={{id}}>
        {{id}}.  {{burger_name}}
        <button data-id={{id}}>Devoured</button>
    </li>
    {{/unless}}
</ul>

<ul class="eatenList">
    {{#each burger}}
    {{#if devoured}}
    <li class="eaten">{{id}}.  {{burger_name}}</li>
    {{/if}}
</ul>

<form>
    Add a burger:
    <textbox id="newBurger"></textbox>
    <button id="submitBurger">Submit</button>
</form>